@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.mainn{
    width: 100%;
    height: 100vh;
    border-radius: 20px;
    background-color: white;
    /* background-color: rgb(236,236,236); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    /* background-color: rgb(248,249,250); nav bar background-color  */
    /* background-color: rgb(192,193,193); text color */

}
.sub-main{
  width: 80%;
  height: 80vh;
  /* border: 1px solid black; */
  border-radius: 10px;
  display: flex;
  justify-content: center;

 
}
.side-one{
    width: 50%;
    height: 80vh;
    background-color: rgb(236,236,236);
     border-radius: 10px 0 0 10px;
     background-size: contain;
     background-repeat: no-repeat;
     display: flex;
     align-items: center;
     justify-content: center;

}
.logoo{
    width: 30%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
   
    /* border: 1px solid black; */
}
.side-two{
    width: 50%;
    height: 80vh;
    background-color: rgb(248,249,250);
    border-radius: 0px 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sidetwo-main{
    width: 80%;
    height: 50vh;
    /* border: 1px solid black; */
}
.sign-up{
    font-size: 30px;
    font-family: Poppins;
    /* font-style: italic; */
    margin-bottom: 2%;
    color: rgb(192,193,193);
}

.innpt:focus{
    border:  2px solid  rgb(236,236,236) !important;
    box-shadow: 3px 3px 10px rgb(236,236,236), -3px -3px 10px rgb(236,236,236) !important;
}
.signupbtn{
    font-size: 15px !important;
    font-family: Poppins !important;
    color: rgb(192,193,193);
}
.alred{
    font-size: 15px !important;
    font-family: Poppins !important;
    /* font-style: italic; */
    color: rgb(192,193,193);
}
.alred span {
    color: red;
}

@media (max-width:900px) {
   .side-one{
    display: none;
   }
   .side-two{
    width: 100%;
   }
}